@media screen and (max-width: 800px) {
  .flex-box {
    flex-direction: column;
  }

  .code_html {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: JetBrains Mono, monospace;
    font-size: 0.7em;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 600px) {
  .flex-box {
    flex-direction: column;
  }

  .menu-item {
    background-color: rgba(118, 202, 219, 0.5);
    color: #eef;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px 0px 5px 0px;
  }

  .menu-item a {
    color: #fff;
    font-family: JetBrains Mono, monospace;
    font-size: 0.6em;
  }

  .code_html {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: JetBrains Mono, monospace;
    font-size: 0.6em;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .flex-box {
    flex-direction: column;
  }

  .menu a {
    color: #fff;
    font-family: JetBrains Mono, monospace;
    font-size: 0.4em;
  }

  .code_html {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    font-family: JetBrains Mono, monospace;
    font-size: 0.4em;
    overflow-x: scroll;
  }
}
