body {
  font-family: 'Doto', sans-serif;
  /*font-family: 'Rubik Glitch Pop', cursive;*/
  color: #000000;
  font-size: 1em;
  background-color: #FFFFFF;
}

main {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(118, 202, 219, 0.5);
  color: #eef;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8em;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
